name: Pull Request Check

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Spotless Check
      run: ./gradlew spotlessCheck

    - name: Run Android Lint
      run: ./gradlew lintDebug

    - name: Build with Gradle
      run: ./gradlew assembleDebug
